    body{
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
        background-image: url("./img/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    header {
      color: #CCCCCC;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }

    h1, h2 {
      margin: 0;
      padding: 0;
    }

    nav {
      display: flex;
    }
      
      #basic-details {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 700px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
      }

        #basic-details p {
            margin: 10px;
        }
      
      .container {
        display: flex;
        justify-content: center;
      }
      
      .column {
        flex-basis: 50%;
        text-align: left;
      }
      

    #brief-bio {
        display: none;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 600px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
      }

        #brief-bio p {
            margin: 10px;
        }

      #education-details {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
      }
      
      #education-details p {
        margin: 10px;
      }      

    button {
      background-color: transparent;
      font-weight: bold;
      border: none;
      color: #CCCCCC;
      border: none;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      padding: 10px 20px;
      cursor: pointer;
      size: 200px;
    }

    button:hover {
      background-color: #555;
      color: white;
    }

    section {
      color: #ffffff;
      padding: 20px;
      margin: 20px 0;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0,0,0,0.3);
    }

    .container {
        display: flex;
        justify-content: space-between;
      }
      
      .column {
        flex-basis: 50%;
      }

    img {
      width: 200px;
      height: 200px;
      border-radius: 300%;
      margin-right: 20px;
    }